* {
    box-sizing: border-box;
}

body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.logo {
  position: fixed;
  margin: 1em;
  width: 5vw;
  z-index: 1;
  bottom: 0;
}

.titlediv {
  margin-top: 20vh;
}

.watereffect {
  position: absolute;
}

@font-face {
    font-family: "Bree";
    src: url("../fonts/BreeRegular.otf") format("opentype");
}

.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  background-image: url(../images/grain.jpg);
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
  opacity: 0.2;
}

h1 {
  font-size: 3.5rem;
  font-family: "Bree";
  text-align: center;
  color: #df5b57;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: .75em;
  font-family: "Bree";
  font-size: 1.8em;
  color: #df5b57;
}

p {
  font-size: 17px;
  font-family: "Georgia", serif;
  line-height: 1.8;
}

.bovenwater {
  width: 100vw;
  height: 90vh;
  background-color: #E6E9ED;
  position: fixed;
}

.rainbow {
  z-index: -2;
  opacity: 1;
  position: absolute;
  width: 100vw;
  height: 10vh;
  top: 70vh;
}

.rainbow div {
  width: 100%;
  height: 16.6%;
}

.rainbow div:nth-of-type(1) {
  background-color: #E42328;
}
.rainbow div:nth-of-type(2) {
  background-color: #EA5B28;
}
.rainbow div:nth-of-type(3) {
  background-color: #F9E92F;
}
.rainbow div:nth-of-type(4) {
  background-color: #60B158;
}
.rainbow div:nth-of-type(5) {
  background-color: #2B71B7;
}
.rainbow div:nth-of-type(6) {
  background-color: #87328B;
}

.bovenwater p {
  text-align: center;
  margin: 0 30vw 2vh;
}

.waterrand {
  width: 100vw;
  height: 28vh;
  position: absolute;
  top: 72vh;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
}

.wavesbottom {
  width: 100%;
  height: 20vh;
  bottom: 0;
  background-color: #03C8D8;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 6s;
}

.parallax > use:nth-child(2) {
  animation-delay: -2.1s;
  animation-duration: 6s;
}

.parallax > use:nth-child(3) {
  animation-delay: -2.2s;
  animation-duration: 6s;
}

.parallax > use:nth-child(4) {
  animation-delay: -2.3s;
  animation-duration: 6s;
}

.parallax > use:nth-child(5) {
  animation-delay: -2.4s;
  animation-duration: 6s;
}

.parallax > use:nth-child(6) {
  animation-delay: -2.5s;
  animation-duration: 6s;
}

.parallax > use:nth-child(7) {
  animation-delay: -2.6s;
  animation-duration: 6s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

/* ONDERWATER */
.onderwater {
  position: absolute;
  margin-top: 100vh;
  background-color: #03C8D8;
  background: linear-gradient(0deg, #068CB5 30%, #03C8D8 100%);
  width: 200vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

/* .bg {
  position: absolute;
  background: url(../images/test.jpg) center center;
  background-size: contain;
  width: 150vw;
  height: 100%;
} */

.aantal {
  margin: 1em;
  position: absolute;
}

.zoek {
  position: absolute;
  width: 100vw;
  font-size: 2em;
  font-family: "Bree";
  color: rgba(255,255,255,0.5);
  text-align: center;
  filter: url("#disFilter");
}

.aantal p {
  line-height: 1.4;
  color: white;
  width: 20vw;
  margin: 0;
}

.aantal p:nth-of-type(2) {
  font-size: 0.8em;
}

.onderwater article {
  width: 100vw;
}

.onderwater1 div img {
  position: absolute;
  width: 5vw;
  transition: ease 0.2s;
}

.koraal img:nth-of-type(1) {
  width: 110vw;
  left: 10vw;
  bottom: 0;
  object-fit: contain;
  position: absolute;
}

.koraal img:not(.koraalbg) {
  object-fit: contain;
  position: absolute;
}

.koraal img:nth-of-type(2) {
  width: 5vw;
  bottom: -2vh;
  left: 26vw;
  animation: shake 15s 2s linear infinite;
  transform-origin: bottom;
}

.koraal img:nth-of-type(3) {
  width: 8vw;
  bottom: 5vh;
  left: 35vw;
  animation: shake 10s linear infinite;
  transform-origin: bottom;
}

.koraal img:nth-of-type(4) {
  width: 22vw;
  bottom: -2vh;
  left: 73vw;
  animation: shake 30s linear infinite;
  transform-origin: bottom;
}

.koraalnemo {
  z-index: 2;
}

.koraalnemo:hover {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  20%, 60% {
    transform: rotate(-5deg)
  }

  40%, 80% {
    transform: rotate(5deg)
  }

  100% {
    transform: rotate(0deg);
  }
}

.koraalnemo, .nemodiv div {
  position: absolute;
  margin-top: 86vh;
  margin-left: 47vw;
}

.nemo {
  top: 3vh;
}

.nemorainbow {
  opacity: 0;
}

.nemorainbow:hover {
  opacity: 0.7;
}

.nemoswim {
  position: absolute !important;
  margin-top: 30vh !important;
  margin-left: 0vw !important;
  offset-path: path("M.5,119.54S102.44,17.82,212.33,17.82,315.6,116.9,417.54,119.54,526.1,20.47,633.34,17.82,740.58,140.68,842.52,134.07,937.85,29.71,1099.37,17.82,1271.48,152.57,1388,134.07,1538.92,15.18,1650.13,16.5,1809,135.39,1809,135.39");
  animation: move 20s linear infinite;
}

@keyframes move {
  0% {
    opacity: 0;
    offset-distance: 0%;
  }

  5% {
    opacity: 1;
  }

  100% {
    offset-distance: 100%;
  }
}

.showdetail {
  margin-left: -100vw;
  transition: ease 1s;
}

.hidedetail {
  margin-left: 0vw;
  transition: ease 1s;
}



/* DETAIL */
.onderwaterdetail {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.terug {
  font-family: "bree";
  position: absolute;
  margin: 1em;
  color: #df5b57;
  padding: 0.5em;
  border: 2px solid #df5b57;
  border-radius: 0.2em;
  background-color: rgba(255,255,255,0.5);
  transition: ease 0.5s;
  cursor: pointer;
  z-index: 6;
}

.terug:hover {
  background-color: rgba(255,255,255,0.9);
  transition: ease 0.5s;
}

.left, .right {
  width: 50vw;
}

.left {
  background-color: #03C8D8;
  background: linear-gradient(0deg, #068CB5 30%, #03C8D8 100%);
  /* border-right: 1px solid black; */
  display: flex;
  align-items: center;
}

.left img {
  position: absolute;
  left: 105vw;
  width: 48vw;
}

.right {
  padding: 0 10vh;
}

.zindex {
  z-index: 5;
}
