* {
    box-sizing: border-box;
}

body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.logo {
  position: fixed;
  margin: 1em;
  width: 5vw;
  z-index: 1;
  bottom: 0;
}

.titlediv {
  margin-top: 20vh;
}

.titlediv p:nth-of-type(1) {
  margin-top: 3em !important;
  font-size: 1.5em;
  line-height: normal;
  animation: float1 2.5s infinite;
}

@keyframes float1 {
  20%, 50% {
    transform: translateY(10px);
  }

  35%, 65% {
    transform: translateY(0px);
  }
}

.titlediv p:nth-of-type(2) {
  transform: rotate(-90deg);
  font-size: 1.5em;
  animation: float 2.5s infinite;
  border: 1px solid black;
  border-radius: 100%;
  margin: 0;
  width: 3vw;
  margin-left: 48.5vw;
}

@keyframes float {
  20%, 50% {
    transform: rotate(-90deg) translateX(-10px);
  }

  35%, 65% {
    transform: rotate(-90deg) translateX(0px);
  }
}

.watereffect {
  position: absolute;
}

@font-face {
    font-family: "Bree";
    src: url("../fonts/BreeRegular.otf") format("opentype");
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  background-image: url(../images/grain.jpg);
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
  opacity: 0.2;
}

h1 {
  font-size: 3.5rem;
  font-family: "Bree";
  text-align: center;
  color: #df5b57;
  /* color: white; */
}

h2 {
  margin-top: 1.5em;
  margin-bottom: .75em;
  font-family: "Bree";
  font-size: 1.8em;
  color: #df5b57;
}

p {
  font-size: 17px;
  font-family: "Georgia", serif;
  line-height: 1.8;
  color: rgba(0,0,0,0.8);
}

.bovenwater {
  width: 100vw;
  height: 90vh;
  background: rgb(197,155,188);
  background: linear-gradient(0deg, rgba(197,155,188,1) 0%, rgba(97,132,189,1) 60%, rgba(65,72,105,1) 100%);
  background: rgb(246,204,182);
  background: linear-gradient(0deg, rgba(246,204,182,1) 0%, rgba(137,206,189,1) 50%, rgba(16,161,192,1) 100%);
  background: grey;
  background: linear-gradient(0deg, #F9B7BE 0%, rgba(132,210,212,0.8) 50%, rgba(15,155,190,0.8) 90%, rgba(10,131,180,0.8) 100%);
  background: rgb(251,200,179);
  background: linear-gradient(0deg, rgba(251,200,179,1) 0%, rgba(132,210,212,1) 50%, rgba(3,200,216,1) 90%, rgba(1,180,207,1) 100%);
  position: fixed;
}

.bovenwater > img {
  position: absolute;
  width: 100vw;
  top: -20vh;
  animation: clouds 40s linear infinite;
  filter: blur(2px);
  opacity: 0.15;
  z-index: -1;
}

@keyframes clouds  {
0% {
  opacity: 0.1;
  transform: translateX(0) scale(1.1);
}

50% {
  opacity: 0.2;
  transform: translateX(10%) scale(1.2);
}

100% {
  opacity: 0.1;
  transform: translateX(0) scale(1.1);
}
}

.rainbow {
  z-index: -2;
  opacity: 1;
  position: absolute;
  width: 100vw;
  height: 10vh;
  top: 70vh;
}

.rainbow div {
  width: 100%;
  height: 16.6%;
}

.rainbow div:nth-of-type(1) {
  background-color: #E42328;
}
.rainbow div:nth-of-type(2) {
  background-color: #EA5B28;
}
.rainbow div:nth-of-type(3) {
  background-color: #F9E92F;
}
.rainbow div:nth-of-type(4) {
  background-color: #60B158;
}
.rainbow div:nth-of-type(5) {
  background-color: #2B71B7;
}
.rainbow div:nth-of-type(6) {
  background-color: #87328B;
}

.bovenwater p {
  text-align: center;
  margin: 0 30vw 2vh;
}

.waterrand {
  width: 100vw;
  height: 28vh;
  position: absolute;
  top: 72vh;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
}

.wavesbottom {
  width: 100%;
  height: 20vh;
  bottom: 0;
  background-color: #03C8D8;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 6s;
}

.parallax > use:nth-child(2) {
  animation-delay: -2.1s;
  animation-duration: 6s;
}

.parallax > use:nth-child(3) {
  animation-delay: -2.2s;
  animation-duration: 6s;
}

.parallax > use:nth-child(4) {
  animation-delay: -2.3s;
  animation-duration: 6s;
}

.parallax > use:nth-child(5) {
  animation-delay: -2.4s;
  animation-duration: 6s;
}

.parallax > use:nth-child(6) {
  animation-delay: -2.5s;
  animation-duration: 6s;
}

.parallax > use:nth-child(7) {
  animation-delay: -2.6s;
  animation-duration: 6s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

/* ONDERWATER */
.onderwater {
  position: absolute;
  margin-top: 100vh;
  /* background-color: #03C8D8;
  background: linear-gradient(0deg, rgba(36,82,119,1) 0%, rgba(5,161,194,1) 40%, rgba(3,200,216,1) 100%); */
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.intro2 {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  position: absolute;
}

.intro2 div {
  padding-left: 3vw;
  background-color: #03C8D8;
  background: linear-gradient(0deg, rgba(36,82,119,1) 0%, rgba(5,161,194,1) 40%, rgba(3,200,216,1) 100%);
  background: linear-gradient(0deg, rgba(23,59,88,1) 0%, rgba(36,97,119,1) 30%, rgba(5,161,194,1) 60%, rgba(3,200,216,1) 100%);
  background: linear-gradient(0deg, rgba(23,59,88,1) 0%, rgba(42,132,154,1) 30%, rgba(5,161,194,1) 60%, rgba(3,200,216,1) 100%);
  height: 200vh;
  overflow: auto;
}

.intro2 h2 {
  top: -5vh;
  font-size: 3.5rem;
  color: #df5b57;
  transition: 1s ease;
  /* filter: url("#disFilter"); */
}

.intro2 div p {
  width: 50vw;
  transition: 1s ease;
}

blockquote {
  color: #df5b57;
  display: inline-block;
  font-size: 1.5em;
  line-height: normal;
  width: 15%;
  float: left;
  padding: 10px 0;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 0;
  font-family: "bree";
  line-height: 1.45;
  color: #df5b57;
  word-wrap: break-word;
  border-top: 4px solid #e5e4e4;
}

.onderwater article {
  width: 100vw;
}

.koraal {
  filter: blur(0.5px);
  transition: ease 1s;
  z-index: 2;
}

.koraal img:nth-of-type(1) {
  width: 100vw;
  left: 24vw;
  bottom: -11vh;
  object-fit: contain;
  position: absolute;
}

.koraal img:not(.koraalbg) {
  object-fit: contain;
  position: absolute;
}

.koraal img:nth-of-type(2) {
  width: 5vw;
  bottom: -2vh;
  left: 26vw;
  animation: shake 15s 2s linear infinite;
  transform-origin: bottom;
}

.koraal img:nth-of-type(3) {
  width: 8vw;
  bottom: 5vh;
  left: 35vw;
  animation: shake 10s linear infinite;
  transform-origin: bottom;
}

.koraal img:nth-of-type(4) {
  width: 5vw;
  bottom: 5vh;
  left: 47vw;
}

.koraal img:nth-of-type(5) {
  width: 22vw;
  bottom: -2vh;
  left: 73vw;
  animation: shake 30s linear infinite;
  transform-origin: bottom;
}

.koraalnemo {
  z-index: 2;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  20%, 60% {
    transform: rotate(-5deg)
  }

  40%, 80% {
    transform: rotate(5deg)
  }

  100% {
    transform: rotate(0deg);
  }
}

.vissen {
  transition: ease 1s;
}

.vissen div {
  position: absolute;
  z-index: 2;
}

.vissen div img {
  position: absolute;
  width: 5vw;
  transition: ease 0.2s;
}

.vissen div img:nth-of-type(2) {
  opacity: 0.8;
}

.vissen div img:nth-of-type(2):hover {
  opacity: 0;
  cursor: pointer;
}

.vissen div:nth-of-type(1) {
  bottom: 20vh;
  left: 30vw;
  animation: swim1 10s infinite linear;
  z-index: 2;
}

@keyframes swim1 {
  25% {
    transform: translate(2.5vw, 0) rotate(-20deg);
  }

  49% {
    transform: translate(5vw, -2vh);
  }

  50% {
    transform: translate(10vw, -2vh) scaleX(-1);
  }

  75% {
    transform: translate(7.5vw, 0) rotate(-20deg) scaleX(-1);
  }

  99% {
    transform: scaleX(-1) translate(-5vw, 0);
  }

  100% {
    transform: scaleX(1) translate(0vw, 0);
  }
}

.vissen div:nth-of-type(1) img {
  width: 4vw;
}

.vissen div:nth-of-type(2) {
  animation: swim2 12s infinite linear;
  bottom: 20vh;
  left: 70vw;
}
.vissen div:nth-of-type(2) img {
  width: 4.5vw;
}

@keyframes swim2 {
  0% {
    transform: translate(-5vw, 25vh) rotate(-50deg);
  }

  50% {
    transform: translate(0, 10vh) rotate(0deg);
  }

  100% {
    transform: translate(8vw, 20vh) rotate(50deg);
  }
}

.vissen div:nth-of-type(3) {
  bottom: 40vh;
  left: 70vw;
  animation: swim3 7s infinite linear;
}
.vissen div:nth-of-type(3) img {
  width: 4vw;
}

@keyframes swim3 {

  49% {
    transform: translate(5vw, 0);
  }

  50% {
    transform: translate(10vw, 0) scaleX(-1);
  }

  75% {
    transform: translate(7.5vw, 0) scaleX(-1);
  }

  99% {
    transform: scaleX(-1) translate(-5vw, 0);
  }

  100% {
    transform: scaleX(1) translate(0vw, 0);
  }
}

.vissen div:nth-of-type(4) {
  bottom: 30vh;
  right: 2vw;
  animation: swim4 11s infinite linear;
}

@keyframes swim4 {
  0% {
    transform: translate(0vw, 0vh) scaleX(-1);
  }

  25% {
    transform: translate(1vw, 5vh) scaleX(-1);
  }

  50% {
    transform: translate(0vw, 10vh) scaleX(-1);
  }

  75% {
    transform: translate(0vw, 5vh) scaleX(-1);
  }

  100% {
    transform: translate(0, 0vh) scaleX(-1);
  }
}

.vissen div:nth-of-type(5) {
  bottom: 10vh;
  left: 55vw;
  transform: rotate(-10deg);
}
.vissen div:nth-of-type(5) img {
  width: 6vw;
}

.vissen div:nth-of-type(6) {
  left: 5vw;
  top: 45vh;
  animation: swim5 9s infinite linear;
  z-index: 1;
}
.vissen div:nth-of-type(6) img {
  width: 22vw;
}

@keyframes swim5 {
  0% {
    transform: translate(-28vw, -50vh) rotate(40deg);
  }

  45%{
    transform: translate(5vw, 0vh) rotate(20deg) scale(0.8);
  }

  95%, 100% {
    opacity: 0.4;
    transform: translate(50vw, 40vh) scale(0.5);
  }
}

.vissen div:nth-of-type(7) {
  left: 45vw;
  bottom: 30vh;
  transform: rotate(10deg);
  animation: swim6 18s infinite linear;
}
.vissen div:nth-of-type(7) img {
  width: 10vw;
}

@keyframes swim6 {
  0% {
    transform: translate(0vw, 0vh);
  }

  25% {
    transform: translate(3vw, 1vh) rotate(5deg);
  }

  50%, 57% {
    transform: translate(5vw, 0vh) rotate(0deg);
  }

  75% {
    transform: translate(2vw, 1vh);
  }

  95%, 100% {
    transform: translate(0, 0vh);
  }
}

.vissen div:nth-of-type(8) {
  bottom: 5vh;
  left: 33vw;
  transform: rotate(10deg);
}
.vissen div:nth-of-type(8) img {
  width: 4vw;
}


.showdetail {
  animation: appear 1s forwards;
  transition: ease 1s;
}

@keyframes appear {
  0% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    opacity: 1;
    z-index: 2;
  }
}

.hidedetail {
  z-index: -1;
  opacity: 0;
  transition: ease 1s;
}

.sidenotes {
  transition: 0.5s ease;
}

.sidenotes > p {
  opacity: 0.5;
  position: absolute;
  right: 3vw;
  color: white;
  line-height: 1;
  transition: 0.3s ease;
  z-index: 3;
}

.sidenotes > p:hover {
  opacity: 1;
  cursor: pointer;
}

.sidenotes .span {
  margin-left: 0.5em;
  top: 2px;
  background-color: #f1f1f1;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 100%;
}

.sidenotes span span {
  top: 8px;
  left: 5px;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #df5b57;
}

.sidenotes div {
  position: absolute;
  line-height: 1.6;
  padding: 0.8em 2.5em;
  background-color: rgba(255,255,255,0.3);
  color: rgba(0,0,0,0.6);
  right: 1.5em;
  opacity: 1;
  width: 40vw;
  top: 3em;
}














/* DETAIL */
.detail {
  /* transition: ease 1s; */
  display: flex;
  width: 800vw;
}

.onderwaterdetail {
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  overflow: hidden;
}

.terug {
  font-family: "bree";
  position: absolute;
  margin: 1em;
  color: #df5b57;
  padding: 0.5em;
  border: 2px solid #df5b57;
  border-radius: 0.2em;
  background-color: rgba(255,255,255,0.5);
  transition: ease 0.5s;
  cursor: pointer;
  z-index: 6;
}

.terug:hover {
  background-color: rgba(255,255,255,0.9);
  transition: ease 0.5s;
}

.left, .right {
  width: 50vw;
  padding: 2em 5em;
}

.left img, .right img {
  left: 5vw;
  width: 100%;
  object-fit: contain;
}

.imagediv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zindex {
  z-index: 5;
}


.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  color: white;
  z-index: 10;
}

.prev:hover, .next:hover {
  cursor: pointer;
  background-color: rgba(241, 231, 218, 0.3);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.dots {
  text-align: center;
  position: absolute;
  width: 100vw;
  justify-content: center;
  display: flex;
  bottom: 4vh;
  z-index: 5;
}

.dot {
  cursor: pointer;
  height: 19px;
  width: 19px;
  margin: 0 0.3em;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
  transform: scale(1.2);
  transition: transform 0.6s ease;
}

.current {
  background-color: lightblue;
  transform: scale(1.2);
}

.pos1 {
  transform: translateX(0em);
}
.pos2 {
  transform: translateX(-100vw);
}
.pos3 {
  transform: translateX(-200vw);
}
.pos4 {
  transform: translateX(-300vw);
}
.pos5 {
  transform: translateX(-400vw);
}
.pos6 {
  transform: translateX(-500vw);
}
.pos7 {
  transform: translateX(-600vw);
}
.pos8 {
  transform: translateX(-700vw);
}


.position1a {
  transform: translateX(0em);
  animation-name: animationL1;
  animation-duration: 1s;
}

.position2a {
  transform: translateX(-100vw);
  animation-name: animationL2;
  animation-duration: 1s;
}

.position3a {
  transform: translateX(-200vw);
  animation-name: animationL3;
  animation-duration: 1s;
}

.position4a {
  transform: translateX(-300vw);
  animation-name: animationL4;
  animation-duration: 1s;
}

.position5a {
  transform: translateX(-400vw);
  animation-name: animationL5;
  animation-duration: 1s;
}

.position6a {
  transform: translateX(-500vw);
  animation-name: animationL6;
  animation-duration: 1s;
}

.position7a {
  transform: translateX(-600vw);
  animation-name: animationL7;
  animation-duration: 1s;
}

.position8a {
  transform: translateX(-700vw);
  animation-name: animationL8;
  animation-duration: 1s;
}

@keyframes animationL1 {
  0% {
    transform: translateX(-800vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

@keyframes animationL2 {
  0% {
    transform: translateX(0vw)
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes animationL3 {
  0% {
    transform: translateX(-100vw)
  }

  100% {
    transform: translateX(-200vw);
  }
}

@keyframes animationL4 {
  0% {
    transform: translateX(-200vw);
  }

  100% {
    transform: translateX(-300vw);
  }
}

@keyframes animationL5 {
  0% {
    transform: translateX(-300vw)
  }

  100% {
    transform: translateX(-400vw);
  }
}

@keyframes animationL6 {
  0% {
    transform: translateX(-400vw)
  }

  100% {
    transform: translateX(-500vw);
  }
}

@keyframes animationL7 {
  0% {
    transform: translateX(-500vw)
  }

  100% {
    transform: translateX(-600vw);
  }
}

@keyframes animationL8 {
  0% {
    transform: translateX(-600vw)
  }

  100% {
    transform: translateX(-700vw);
  }
}

.position1b {
  transform: translateX(0em);
  animation-name: animationR1;
  animation-duration: 1s;
}

.position2b {
  transform: translateX(-100vw);
  animation-name: animationR2;
  animation-duration: 1s;
}

.position3b {
  transform: translateX(-200vw);
  animation-name: animationR3;
  animation-duration: 1s;
}

.position4b {
  transform: translateX(-300vw);
  animation-name: animationR4;
  animation-duration: 1s;
}

.position5b {
  transform: translateX(-400vw);
  animation-name: animationR5;
  animation-duration: 1s;
}

.position6b {
  transform: translateX(-500vw);
  animation-name: animationR6;
  animation-duration: 1s;
}

.position7b {
  transform: translateX(-600vw);
  animation-name: animationR7;
  animation-duration: 1s;
}

.position8b {
  transform: translateX(-700vw);
  animation-name: animationR8;
  animation-duration: 1s;
}

@keyframes animationR1 {
  0% {
    transform: translateX(-100vw)
  }

  100% {
    transform: translateX(0vw);
  }
}

@keyframes animationR2 {
  0% {
    transform: translateX(-200vw)
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes animationR3 {
  0% {
    transform: translateX(-300vw)
  }

  100% {
    transform: translateX(-200vw);
  }
}

@keyframes animationR4 {
  0% {
    transform: translateX(-400vw)
  }

  100% {
    transform: translateX(-300vw);
  }
}

@keyframes animationR5 {
  0% {
    transform: translateX(-500vw)
  }

  100% {
    transform: translateX(-400vw);
  }
}

@keyframes animationR6 {
  0% {
    transform: translateX(-600vw)
  }

  100% {
    transform: translateX(-500vw);
  }
}


@keyframes animationR7 {
  0% {
    transform: translateX(-700vw)
  }

  100% {
    transform: translateX(-600vw);
  }
}

@keyframes animationR8 {
  0% {
    transform: translateX(0vw)
  }

  100% {
    transform: translateX(-700vw);
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.hidden {
  transform: 0.5s ease;
  display: none;
}

.blur {
  opacity: 0.8;
  filter: blur(5px);
}

.blur2 {
  opacity: 0;
  filter: blur(5px);
}
